# Dove stanno le animazioni e le miniature degli esercizi.
# I media sono © Gym visual e vivono in una repo separata, proprio per poterli
# staccare senza toccare l'app: se questa variabile è vuota, l'app funziona
# lo stesso e mostra i segnaposto al posto delle immagini.
VITE_MEDIA_BASE=https://mariodraghi777.github.io/the-beest-media
