/* Font self-hosted, sottoinsieme latin: la PWA deve funzionare offline,
   quindi niente CDN. Archivo variable (wdth 100-125, wght 400-900) per i
   titoli, IBM Plex Sans per il testo, IBM Plex Mono per i numeri.
   Generati da tools/ — SIL Open Font License 1.1. */
@font-face{font-family:'Archivo';font-style:normal;font-weight:400 900;font-stretch:100% 125%;font-display:swap;src:url(./fonts/archivo-var-latin.woff2) format('woff2-variations')}
@font-face{font-family:'IBM Plex Sans';font-style:normal;font-weight:400;font-display:swap;src:url(./fonts/plex-sans-400-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Sans';font-style:normal;font-weight:600;font-display:swap;src:url(./fonts/plex-sans-600-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:400;font-display:swap;src:url(./fonts/plex-mono-400-latin.woff2) format('woff2')}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:600;font-display:swap;src:url(./fonts/plex-mono-600-latin.woff2) format('woff2')}
